@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --Almost-White:hsl(0, 0%, 98%);
  --Medium-Grey:hsl(0, 0%, 41%);
  --Almost-Black:hsl(0, 0%, 8%);
}

body{
  font-family: "Epilogue", serif;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.nav-div-2{
  display: none;
}
.nav-div-4{
  display: none;
}

.section-1 img{
  display: flex;
max-width: 100%;

}

.section-1 h1{
font-size: 2rem;
font-weight: 700;
text-align: center;
padding-top: 1rem;
}

.section-1 p{
  font-size: 18px;
width: 80%;
margin: 0 auto;
text-align: center;
padding: 1rem 0;
}

button{
  border: none;
  width: 50%;
  height: 3rem;
  border-radius: 8px;
  color: var(--Almost-White);
  background-color: var(--Almost-Black);
margin-left: 6rem;

}

.section-2{
display: flex;
padding-top: 2rem;
gap: 1rem;
}
